.rmdb-not-found {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
	margin-top: 60px;
}

.rmdb-not-found h1 {
	font-family: 'Abel', sans-serif;
	font-size: 50px;
	color: #353535;
	margin-top: 20px;
}

.rmdb-fa {
	color: #353535;
}
